div.coffeeShopsArea {
    width: 70%;
    float: left;
}

div.caddyArea {
    width: 28%;
    background-color: #252525;
    margin-left: 70%;
}

div.cafes div.card {
    width: 50%;
    height: 49vh;
    background-image: url('/client/assets/dishes/cupAndcake/bgCupCake.jpg');
    background-position: center;
    background-size: cover;
    float: left;
}

div.cafes div.card div.black {
    height: 100%;
    background-color: rgb(0, 0, 0, 0);
    color: white;
    opacity: 0;
    font-size: 28pt;
    text-align: center;
    transition-property: opacity;
    transition-duration: 0.5s;
    font-family: 'Amatic SC', cursive;
    font-size: 40pt;
}

div.cafes div.card div.black:hover {
    height: 100%;
    background-color: rgb(0, 0, 0, 0.75);
    opacity: 1;
    color: white;
    font-size: 28pt;
    text-align: center;
    border: 2pt inset orange;
    font-family: 'Amatic SC', cursive;
    font-size: 40pt;
}

div.cafes div.card div.black img {
    width: 20%;
    margin-top: 20%;
}

div.caddy {
    color: white;
    padding: 15px;
    height: 95vh;
    font-family: 'Maven Pro', sans-serif;
    background-image: url(./assets/bgCaddy.png);
}

div.caddy h1 {
    color: white;
    font-size: 36pt;
}

#caddyBag {
    width: 15%;
    float: right;
    margin-right: 10px;
}

div.caddyBody {
    height: 60%;
    background-color: rgb(255, 255, 255, 0.75);
    color: black;
    padding: 5px 20px;
    font-size: 8pt;
}

div.caddyBody h2 {
    font-size: 15pt;
}

div.caddyBody div.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

div.caddyBody div.container h3#itemCounter {
    margin-right: 3px;
    font-size: 12pt;
}

div.caddyBody div.container h3#union {
    margin-right: 10px;
    font-size: 12pt;
}

div.caddyBody div.container img#itemImage {
    height: 50px;
    margin: 0 5px;
}

div.coffeeShopBody div.container img#itemImage {
    height: 50px;
    margin: 0 5px;
}


div.caddyBody div.container input#selectedItem {
    width: 40%;
    height: 48px;
    background-color: rgb(255, 255, 255, 0);
    border: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-left: 10px;
    font-size: 12pt;
    color: black;
}

div.caddyBody div.container input#selectedPrice {
    width: 15%;
    height: 48px;
    background-color: rgb(255, 255, 255, 0);
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-right: 10px;
    text-align: right;
    font-size: 10pt;
    color: black;
}

div.caddyBody div.container button {
    height: 30px;
    width: 30px;
    background-image: url(./assets/bgCaddy.png);
    color: white;
    border: none;
    margin: 0 5px;
    border-radius: 50%;
}

div.caddyFooter {
    height: 23vh;
    background-color: rgb(255, 255, 255, 0.75);
    color: black;
    padding: 5px 20px;
    font-size: 8pt;
}

div.caddyFooter input {
    float: right;
    margin-top: -32px;
    text-align: right;
    background-color: rgb(0, 0, 0, 0);
    border: none;
    color: black;
}

div.caddyFooter input#priceTotal {
    font-weight: bold;
}

div.caddyFooter button {
    margin-top: 5px;
    width: 100%;
    height: 7vh;
    font-size: 14pt;
    font-weight: bold;
    background-image: url(./assets/bgCaddy.png);
    color: white;
    border: none;
}

div.white {
    background-color: rgb(255, 255, 255, 0.60);
    height: 95vh;
}

div.cafeteriasProductArea {
    height: 95vh;
    width: 100%;
    background-image: url('/client/assets/dishes/cupAndcake/bgCupCakeBig.jpg');
    background-size: cover;
}

div#coffeeShopHeader {
    padding: 5px;
}

div#coffeeShopHeader h2 {
    color: black;
    text-align: center;
    font-size: 28pt;
}

div#coffeeShopHeader button {
    float: left;
    font-size: 20pt;
    background-color: rgb(255, 255, 255, 0);
    color: black;
    border: 2pt solid black;
    margin: 10px;
}

div.coffeeShopBody {
    width: 90%;
    height: 10vh;
    background-color: red;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: center;
    justify-content: center;
}

div.coffeeShop_stock {
    width: 90%;
    height: 10vh;
    background-color: red;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: center;
    justify-content: start;
}

.productImage {
    width: 110px;
}

.productName {
    width: 20%;
    margin-left: 15px;
}

.productIngredients {
    width: 50%;
    font-size: smaller;
}

.productPrice {
    width: 10%;
    text-align: end;
}

#btnBackToCaddy{
    width: 100%;
}
