div.cafes {
    width: 70%;
    float: left;
}

div.caddy {
    width: 28%;
    background-color: #252525;
    margin-left: 70%;
}

div.cafes div.card {
    width: 50%;
    height: 49vh;
    background-image: url('/client/assets/cafetLogos/bgCupAndCake.jpg');
    background-position: center;
    background-size: cover;
    float: left;
}

div.cafes div.card div.black {
    height: 100%;
    background-color: rgb(0, 0, 0, 0);
    color: white;
    opacity: 0;
    font-size: 28pt;
    text-align: center;
    transition-property: opacity;
    transition-duration: 0.5s;
    font-family: 'Amatic SC', cursive;
    font-size: 40pt;
}

div.cafes div.card div.black:hover {
    height: 100%;
    background-color: rgb(0, 0, 0, 0.75);
    opacity: 1;
    color: white;
    font-size: 28pt;
    text-align: center;
    border: 2pt inset orange;
    font-family: 'Amatic SC', cursive;
    font-size: 40pt;
}

div.cafes div.card div.black img {
    width: 20%;
    margin-top: 20%;
}

div.caddy {
    color: white;
    padding: 15px;
    height: 95vh;
    font-family: 'Maven Pro', sans-serif;
    background-image: url(./assets/bgCaddy.png);
}

div.caddyHeader span {
    color: white;
    font-size: 36pt;
    width: 84%;
}

div.caddyHeader img#caddyBag {
    width: 55px;
    float: right;
    margin-right: 10px;
}

div.caddyBody {
    height: 60%;
    background-color: rgb(255, 255, 255, 0.75);
    color: black;
    padding: 5px 20px;
    font-size: 8pt;
}

div.caddyBody h2 {
    font-size: 15pt;
}

div.caddyBody div.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

div.caddyBody div.container h3#itemCounter {
    margin-right: 3px;
    font-size: 12pt;
}

div.caddyBody div.container h3#union {
    margin-right: 10px;
    font-size: 12pt;
}

div.caddyBody div.container img#itemImage {
    height: 50px;
    margin: 0 5px;
}

div.caddyBody div.container input#selectedItem {
    width: 40%;
    height: 48px;
    background-color: rgb(255, 255, 255, 0);
    border: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-left: 10px;
    font-size: 12pt;
    color: black;
}

div.caddyBody div.container input#selectedPrice {
    width: 15%;
    height: 48px;
    background-color: rgb(255, 255, 255, 0);
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-right: 10px;
    text-align: right;
    font-size: 10pt;
    color: black;
}

div.caddyBody div.container button {
    height: 30px;
    width: 30px;
    background-image: url(./assets/bgCaddy.png);
    color: white;
    border: none;
    margin: 0 5px;
    border-radius: 50%;
}

div.caddyFooter {
    height: 23vh;
    background-color: rgb(255, 255, 255, 0.75);
    color: black;
    padding: 5px 20px;
    font-size: 8pt;
}

div.caddyFooter input {
    float: right;
    margin-top: -32px;
    text-align: right;
    background-color: rgb(0, 0, 0, 0);
    border: none;
    color: black;
}

div.caddyFooter input#amountDue {
    font-weight: bold;
}

div.caddyFooter button {
    margin-top: 5px;
    width: 29%;
    height: 7vh;
    font-size: 14pt;
    font-weight: bold;
    background-image: url(./assets/bgCaddy.png);
    color: white;
    border: none;
}

div.white {
    background-color: rgb(255, 255, 255, 0.80);
    height: 98vh;
}

div.coffeeShopProductArea {
    height: 98vh;
    width: 70%;
    background-image: url('/client/assets/cafetLogos/bgCupAndCake.jpg');
    background-size: cover;
    float: left;
}

div#coffeeShopHeader {
    padding: 5px;
}

div#coffeeShopHeader h2 {
    color: black;
    font-size: 40pt;
    font-family: 'Amatic SC', cursive;
    margin-left: 30px;
}

div.coffeeShopBody div#coffeeShopBodyCardContainer {
    width: 30%;
    height: 30vh;
    float: left;
    margin: 10px 20px;
}

div.coffeeShopBody div.coffeeShopBodyCardBlack {
    background-color: rgb(0, 0, 0, 0);
    color: white;
    opacity: 0;
    height: 28vh;
    padding: 10px;
    font-family: 'Maven Pro', sans-serif;
    text-align: center;
    transition-property: opacity;
    transition-duration: 0.5s;
}

div.coffeeShopBody div.coffeeShopBodyCardBlack:hover {
    background-color: rgb(0, 0, 0, 0.75);
    opacity: 1;
    color: white;
    height: 28vh;
    padding: 10px;
    font-family: 'Maven Pro', sans-serif;
    text-align: center;
}

div.coffeeShopBody div.coffeeShopBodyCardBlack h2 {
    font-size: 24pt;
    margin-bottom: -10px;
    font-family: 'Amatic SC', cursive;
    ;
}

div.coffeeShopBody div.coffeeShopBodyCardBlack h5 {
    margin-top: -5px;
    font-size: 18pt;
}

div.coffeeShopBody div.coffeeShopBodyCardBlack button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: -20px;
    background-color: rgb(0, 0, 0, 0);
    color: white;
    border: 2pt solid white;
    font-size: 20pt;
}

div.white div.coffeeShopFooter {
    margin-top: 67vh;
    text-align: center;
    font-size: 20pt;
    font-family: 'Amatic SC', cursive;
}